<div class="social">
  <ul class="social-links">
    {{ if .Site.Params.Social.Github }}
      <li><a href="https://github.com/{{ .Site.Params.Social.Github }}"><i class="fa fa-github" style="color:#00bf8f"></i></a></li>
    {{ end }}

    {{ if .Site.Params.Social.Email }}
      <li><a href="mailto:{{ .Site.Params.Social.Email }}"><i class="fa fa-envelope"></i></a></li>
    {{ end }}

    {{ if .Site.Params.Social.Twitter }}
      <li><a href="https://twitter.com/{{ .Site.Params.Social.Twitter }}"><i class="fa fa-twitter" style="color:#00aced"></i></a></li>
    {{ end }}

    {{ if .Site.Params.Social.LinkedIn }}
      <li><a href="https://linkedin.com/in/{{ .Site.Params.Social.LinkedIn }}"><i class="fa fa-linkedin" style="color:#007bb6"></i></a></li>
    {{ end }}





  </ul>
</div>
